// ============================================= 
//Variable                      
// =============================================

// Colors

$main-color: #000636;
 $secondary-color: #F6F6F6;

 $main-green: #13D7D0;
 $secondary-green: #8DE7E6;
 $darker-green: #24C2BF;
 $main-blue: #1285CB;




