// // ============================================= 
// //                  Base style                      
// // =============================================

//=========================

* {
    padding:0;
    margin: 0;
    width: 100%;

}

body {
    // display: flex;

    background-color: $main-green;
    
}

a:link {
    text-decoration:none;    
}

nav, .about-me, .check-it-out, .my-books{
    border-bottom: 7px solid $secondary-green;
}


.website-background {
    // width: 100%;

    //This has to do with the path files--- Don't touch
    background: url("../img/mosaic-background-edited-2.png");
    // background: url("../img/mosaic-img-smaller.jpg");
    // background-repeat: repeat;
    // background-size: 300px;
    background-size: 600px;
    // align-items: center;
}

.solid-color-background {
    background-color: $main-green;
}

