
//              Footer


footer h3, small {
    margin: auto;

}

.footer--top-button {
    color:  $main-blue;
    font-family: 'Courgette', sans-serif;
    text-shadow: -1px -.5px 0 white;
}
// footer h3 {
//     color:  #1285CB;
//     font-family: 'Courgette', sans-serif;
//     text-shadow: -1px -.5px 0 white;
// }





// footer {
//    padding-top: 10px;
// }

// footer li { 
//     padding-bottom: 2%;
//     display: inline;
//     list-style-type: none;
//     box-shadow: none;
// }

// footer ul {
//    padding-bottom: 2%;
// }

// footer a {
//    text-decoration: none;
//    list-style-type: none;
// }

// .button-footer{
//    margin-top: 15px;
//    background-color: none;
//    display: inline;
//    border: solid white 1px;
//    border-radius: 50%;
//    background-image: linear-gradient(white,lightgrey);
// }

// .button-footer img {
//    height: 70px;
//    width: auto;
// }

// .foot-container {
//    width: 100%;
//    height: auto;
//    text-align: center;
//    box-shadow: none;
//    background-image: url(/img-background/new-banner-neon-lines.png);   
//    box-shadow: 0px 12px 6px #010059; 
// }