

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 70px 1fr;
    grid-template-areas:  
    "header"
    "nav"
    "main";
    // color: red;      
          // @include background;
}

header {
    @include solid-background;
    grid-area: header;
}

nav {
    @include solid-background;
    grid-area: nav;
}

main {
    // background-color: pink;
    grid-area: main;
}

footer {
    @include solid-background;
    // grid-area: footer;
}