// // ============================================= 
// //                   Transitions                  
// // =============================================

// // ========================================//
// //           bounce animation              //
// // https://codepen.io/mnafricano/pen/EAIyb //
// // ========================================//

// ========== BOOK PREIVEW BUTTONS ===============


$bounce-color: #8DE7E6;
$image-size: 100px;


.button-links.user {
				height: $image-size;
				width: $image-size;
				background-color: $bounce-color ;
				box-shadow: 0 0 0 5px $bounce-color ;
				border-radius: 50%;
    }
    
	.button-links:hover {
		cursor: pointer; 
		animation:bounceOut .4s linear;
	}
		

@keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px $bounce-color; opacity:1;}
        25%{ box-shadow: 0 0 0 1px $bounce-color; opacity:1;}
        50%{ box-shadow: 0 0 0 7px $bounce-color; opacity:1; }
        75%{ box-shadow: 0 0 0 4px $bounce-color; opacity:1;}
        100%{ box-shadow: 0 0 0 5px $bounce-color; opacity:1;}
}

// ========== NAVIGATION BUTTONS ===============

.nav--button-links.user {
	height: $image-size;
	width: $image-size;
	background-color: $bounce-color ;
	box-shadow: 0 0 0 5px $bounce-color ;
	border-radius: 50%;
}

.nav--button-links:hover {
cursor: pointer; 
animation:bounceOut .4s linear;
}


@keyframes bounceOut {
0%{ box-shadow: 0 0 0 4px $bounce-color; opacity:1;}
25%{ box-shadow: 0 0 0 1px $bounce-color; opacity:1;}
50%{ box-shadow: 0 0 0 7px $bounce-color; opacity:1; }
75%{ box-shadow: 0 0 0 4px $bounce-color; opacity:1;}
100%{ box-shadow: 0 0 0 5px $bounce-color; opacity:1;}
}
